@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 80px; /* Adjust to navbar height */
}

.form-input {
  @apply w-full bg-[#1c232d] p-3 rounded-xl text-gray-200 placeholder-gray-400
         border border-gray-700 focus:border-yellow-500 
         focus:ring-2 focus:ring-yellow-500/30 outline-none transition;
}

.form-group {
  @apply bg-[#1c232d] p-3 rounded-xl border border-gray-700 
         focus-within:border-yellow-500 focus-within:ring-2 
         focus-within:ring-yellow-500/30 transition;
}

@keyframes scrollInfinite {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scrollInfinite {
  animation: scrollInfinite 25s linear infinite;
}

html {
  scroll-behavior: smooth;
}




